.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #23516E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F6F7F8;
}

.App-link {
    color: #DD8436;
}